
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/stylesheets/style.css">
	</head>
	
	<title>Tic Tac Toe</title>

	<body>
		<div>
			<h1>Create a New Account</h1>
			
			<form action="/ttt/verify" method="post">
				<input type="text" name="name" placeholder="Full name"></input>
				<input type="email" name="email" placeholder="Email"></input>
				<input type="password" name="password" placeholder="Password"></input>
				<input type="submit" value="Create Account"></input>
			</form>
			
		</div>
	</body>
	
</html>


