
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/stylesheets/style.css">
	</head>
	
	<title>Tic Tac Toe</title>

	<body>
		<div>
			<h1>Username and password did not match. Please try again.</h1>
			
            <form action="/login" method="post">
				<input type="text" name="username" placeholder="Username"></input>
				<input type="password" name="password" placeholder="Password"></input>
				<input type="submit" value="Login"></input>
			</form>
			
		</div>
	</body>
	
</html>


