<!DOCTYPE>
<html>
    <head>
		<link rel="stylesheet" href="/stylesheets/style.css">
	</head>
	
	<title>Tic Tac Toe</title>

	<body>
		<div>
			<h1>Welcome to Tic Tac Toe</h1>
			
			<div>
                <form action="/ttt/verify" method="post">
                    <input type="hidden" name="key" value= <%=key%> ></input>
                    <input type="hidden" name="user" value= <%=user%>></input>
                    <input type="text" name="verification" placeholder="Verification Code"></input>
					<input type="submit" value="Verify"></input>
				</form>
			</div>			
		</div>
	</body>

</html>